language: php

sudo: required

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/symfony-bridge/.phpunit

php:
  - '8.0'

services:
  - mysql
  - docker

addons:
  apt:
    packages:
      - docker-ce

before_install:
  - docker -v
  - docker-compose -v

install:
  - composer install --prefer-dist --no-interaction
  - php bin/console doctrine:database:create --env=test
  - php bin/console doctrine:schema:update --force --env=test
  - php bin/console hautelook:fixtures:load -n --env=test

script:
  - docker-compose -f docker-stack.yaml build
  - docker-compose -f docker-stack.yaml up -d
  - docker-compose -f docker-stack.yaml ps
  - docker-compose -f docker-stack.yaml stop
  - composer install
  - vendor/bin/phpunit --testdox