{% extends 'base.html.twig' %}

{% block header_title %}<h1 class="h1 mb-3 mb-md-5">Liste des tâches {{ status_tache }}</h1>{% endblock %}
{% block body %}
    <p><a href="{{ path('task_create') }}" class="btn btn-info">Créer une tâche</a></p>
    <div class="row mt-5">
        {% for task in tasks %}
        {% include 'task/task.html.twig' %}
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée. <a href="{{ path('task_create') }}" class="btn btn-warning">Créer une tâche</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
