{% extends 'base.html.twig' %}

{% block title %}Todolist
{% endblock %}
{% block body %}
	<section class="container sections">
		<div class="row">
			<div class="col-12 col-lg-4 m-auto">
				<h1 class="display-2 text-primary fw-bolder text-uppercase">Todolist</h1>
				<p>L'application qui simplifie la réalisation de vos projets.</p>
			</div>
			<div class="col-12 col-lg-8">
				<img class="img-fluid" src="../images/todolist.png" alt="">
			</div>
		</div>
	</section>

	<section class="container sections">
		<div class="row">
			<div class="col-12 col-lg-8 order-1 order-lg-0">
				<img class="img-fluid" src="../images/create.png" alt="">
			</div>
			<div class="col-12 col-lg-4 order-0 order-lg-1">
				<h2 class="display-5 text-uppercase">Projets</h2>
				<p>Rien de plus simple, inscrivez-vous pour commencer à créer votre premier <strong>projet</strong>.</p>
				<p>
					<a 	href="{{ path('user.register') }}" 
						class="btn btn-secondary fw-bolder text-uppercase btn-shadow text-white">inscription</a>
				</p>
			</div>
		</div>
	</section>

	<section class="container sections">
		<div class="row">
			<div class="col-12 col-lg-4">
				<h2 class="display-5 text-uppercase">Organisation</h2>
				<p>Associer une ou plusieures <strong>tâches</strong> à réaliser pour l'organisation et réalisation 
				de vos différents projets.</p>
			</div>
			<div class="col-12 col-lg-8">
				<img class="img-fluid" src="../images/organisation.png" alt="">
			</div>
		</div>
	</section>
{% endblock %}