{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

{{ form_start(form) }}

        {{ form_row(form.email) }}
        {{ form_row(form.newPassword) }}

        <button type="submit">modifier</button>

    {{ form_end(form) }}

{% endblock %}
