@import 'custom';
@import "~bootstrap/scss/bootstrap";

.form-error-icon.badge.badge-danger.text-uppercase {
  background-color: $danger;
}

.bg-light-success {
  background-color: rgba($success, 0.15);
}

.bg-light-danger {
  background-color: rgba($danger, 0.15);
}

.bg-light-info {
  background-color: rgba($info, 0.15);
}

.task-icon {
  top: $card-spacer-y;
  right: $card-spacer-y;
  transform: scale(1.15);
}
