$secondary: #e65100;
$primary: #283593;

.sections {
  padding: 5rem 0;
}

.btn-shadow {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.card-shadow {
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
}
