{% for label, messages in app.flashes %}

    <div class="alert {% if label == 'success' %} alert-success {% else %} alert-danger {% endif %} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {% if label == 'success' %}<strong>Superbe !</strong>
            {% else %}<strong>Oops !</strong>{% endif %}
            {% for message in messages %}{{ message }}{% endfor %}
    </div>
{% endfor %}