{% extends 'base.html.twig' %}

{% block body %}

<section class="container my-5 position-relative">
    <h1 class="text-uppercase display-1">Erreur</h1>
    <p>Une erreur imprévu est produite. Veuillez réessayer plus tard.</p>
</section>

{% endblock %}